h1 {
    color:rgb(56, 20, 26);
    font-family: 'EB Garamond';
    font-style: italic;
}

body {
    background: #f87add;
    margin: 0;
}

main {
    position: sticky;
    top: -100px;    
}

footer {
    width: 100vw;
    border: 5px solid black;
    z-index: 10;
    backdrop-filter: blur(10px);
}